name: Checkov

on:
  pull_request:
  push:

jobs:
  discover:
    runs-on: ubuntu-latest

    outputs:
      folders: ${{ steps.out.outputs.folders }}

    steps:
      - name: Always export valid JSON array
        id: out
        run: |
          echo 'folders=[]' >> "$GITHUB_OUTPUT"

  checkov:
    needs: discover
    runs-on: ubuntu-latest
    if: ${{ needs.discover.outputs.folders != '[]' && needs.discover.outputs.folders != '' }}

    strategy:
      fail-fast: false
      matrix:
        folder: ${{ fromJson('[]') }}

    steps:
      - name: Debug discover output
        run: |
          echo "Discover output: '${{ needs.discover.outputs.folders }}'"

      - uses: actions/checkout@v4
      - run: pip install checkov

      - name: Run Checkov
        run: |
          echo "Scanning: ${{ matrix.folder }}"
          checkov -d "${{ matrix.folder }}"


