name: Checkov

on:
  pull_request:
    paths:
      - 'apps/**'
      - 'platform/**'
      - '.github/workflows/checkov.yml'
  push:
    branches: [ main ]

jobs:
  discover:
    runs-on: ubuntu-latest
    outputs:
      folders: ${{ steps.set-matrix.outputs.folders }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Discover Terraform folders
        id: set-matrix
        run: |
          dirs=$(printf '%s\n' apps/*/ | sed 's:/$::' | jq -R . | jq -s -c .)
          echo "dirs=$dirs" >> "$GITHUB_OUTPUT"
          
  checkov:
    needs: discover
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        folder: ${{ fromJson(needs.discover.outputs.folders) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          quiet: true

      - name: Run Checkov on ${{ matrix.folder }}
        run: |
          echo "Running Checkov on: ${{ matrix.folder }}"
          checkov -d "${{ matrix.folder }}"
